<div class="header-top dark">
          <div class="container">
            <div class="row">
              <div class="col-3 col-sm-6 col-lg-6">
                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix ">
                    <li class="facebook"><a href="https://www.facebook.com/vayushri/"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  
                  <ul class="list-inline hidden-md-down">
                    <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-2"></i>+91-770 855 5634 /35; +91-44-4355 9539 </li>
                  </ul>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-9 col-sm-6 col-lg-6">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second" class="clearfix">

                  <!-- header top dropdowns start -->
                  <!-- ================ -->
                  <div class="header-top-dropdown text-right">
					<ul class="list-inline hidden-md-down">
                    
                   
                    <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-2"></i> <a href="mailto:ask@vayushrihospitals.com">ask@vayushrihospitals.com</a></li>
					 <li class="list-inline-item"><a href="#">Request an Appointment</a></li>
                  </ul>
                    
                  </div>
                  <!--  header top dropdowns end -->
                </div>
                <!-- header-top-second end -->
              </div>
            </div>
          </div>
        </div>